/*  This file is part of Instant Currency Rates. Instant Currency Rates
	is an Opera extension that lets you view updates to the latest 
	currency exchange rates in an Opera Speed Dial. (Note: This version 
	of the extension is for Opera - Chromium / Blink build.)
	
    Copyright (C) 2012 - 2013 M Shabeer Ali

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.
	
	Website: http://currencyrate.tumblr.com/
	Source code: https://github.com/thewebdev/opera-blink-extension-icr.git 
	Email: thewebdev@myopera.com */
	
/* RESET */
* {
    margin:0;
    padding:0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

html {
    height:100%;
}

body {
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	height: 100%;
	width: 100%;
    background:#fff;
    color:#898989;
}
span {
	color: #000;
	text-shadow: 0px 1px 1px #5D5D5D;
}
#output {
	font-size: 2.2em;
	text-align:center;	
}
#output img {
	text-align:center;
	vertical-align:middle;
}
#msg {
	font-size:60%;
	color:#000;
}
dt {
    font-weight:bold;
}

dd {
    font-weight:bold;
}

/* SLIDESHOW */
#data {
	display:none;
}

#rateSlides {
	display:block;
}

#rateSlides dt { 
	display:none;
}

#rateSlides dd {
	display:none;
}

#rateSlides dt.current { 
	display:block;
}

#rateSlides dd.current { 
	display:block;
}

#rateSlides dd span.stronger {	
	color:green;
}

#rateSlides dd span.weaker {	
	color:red;
}